{% extends './base.html' %}
{% block title %}Chat's room{% endblock %}

{% block content %}
<ul id="chat-thread">
    {% for message in messages.all %}
    <li>{{ message.message }} from {{ message.user }}</li>
    {% empty %}
            <p>No message</p>
    {% endfor %}
</ul>
<div class="is_typing">
      <em id="user-is-typing"></em>
</div>
<div>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</div>
{% endblock content %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
    console.log(window.location)
    var msg = $("#chat-message-input")
    var chat = $("#chat-thread")
    var loc = window.location
    var ws_scheme = loc.protocol == "https:" ? "wss://" : "ws://"
    var ws_path = ws_scheme + loc.host + loc.pathname

    var chatSocket = new ReconnectingWebSocket(ws_path);

    chatSocket.onmessage = function(e) {
        console.log("message", e)
        console.log(e.data)
        json_data = JSON.parse(e.data)
        console.log(json_data['event'])
        if (json_data['event'] === 'send'){
            chat.append('<li>' + json_data.message + ' from ' + json_data.username + '</li>')
        }
        else if(json_data['event'] === 'is_typing'){
            var clearInterval = 900; //0.9 seconds
            var clearTimerId;
            $('#user-is-typing').html(json_data.username + ' is typing...');
            clearTimeout(clearTimerId);
            clearTimerId = setTimeout(function () {
              $('#user-is-typing').html('');
            },
            clearInterval);
        }
    };

    chatSocket.onopen = function(e){
        console.log("open", e)
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
        else {
            chatSocket.send(JSON.stringify({
            'command': 'typing'
        }));
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInput = $("#chat-message-input")
        var message = messageInput.val()
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'send'
        }));

        messageInput.val('')
    };
</script>
{% endblock script %}